node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.well-known/*
!.well-known/workflow/
.well-known/workflow/*
!.well-known/workflow/v1/
.well-known/workflow/v1/*
!.well-known/workflow/v1/client.js
!.well-known/workflow/v1/client.d.ts
dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Workflow
src/lib/_workflows.ts
